.title {
	margin-left: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(80,162,255);
}

.tip {
	margin-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(75, 89, 105);
}

.textDiv {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.textarea {
	font-family: inherit;
	margin: 0px;
	padding: 0.5rem;
	margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
	font-size: 1.25rem;
  line-height: 1.5rem;
	height:40px;
	width: 100%;
	background-color: transparent;
	border-width: 0px;
	resize: none;
	outline: none;
  border: 1px solid;
  color: rgb(75, 89, 105);
  border-radius: 99999px;
  overflow: unset;
}